<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Get to the Million!</h1>
    <div class="container">
        <!-- two inputs for numbers a button for submit and a box for result -->
        <form id="calculateForm">
            <input class="number-input" type="number" name="number1" placeholder="Enter a number">
            <input  class="number-input" type="number" name="number2" placeholder="Enter a number">
            <button class="operator" name="operator">Choose Operator</button>
            <button class="calculateBtn" type="submit" name="submit">Calculate</button>
        </form>
        <p class="result">The answer is: </p>
        
    </div>
</body>
</html>